---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Cepa Teatro — Sembrando la curiosidad en las niñas, niños y adolescentes por los libros',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Agendar cita',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Leer más', href: '#features' },
    ]}
    image={{ src: '~/assets/images/cepa-teatro-logo.jpg', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      En<span class="text-accent dark:text-white highlight"> Cepa Teatro</span> sembramos la curiosidad en las niñas, niños y adolescentes por los libros
    </Fragment>

    <Fragment slot="subtitle">
      Cepa Teatro Cosechamos ciudadanas y ciudadanos con un pensamiento crítico cultivado a través del hábito de la lectura
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!--<Note />-->

  <!-- Features Widget *************** -->

  <Features
    id="experiencia"
    tagline="Experiencia"
    title="Experiencia"
    items={[
      {
        title: 'Cepa Teatro',
        description:
          `Nace en 2014 conformada por egresados de UABC con el proósito de hacer Teatro de Calidad, Itinerante y de Carácter Social. Colaborando con instituciones de gobierno, educativas, sector privado, foros independientes, público por taquilla...`,
        icon: 'tabler:ballpen',
      },
      {
        title: 'Itinerante',
        description:
          `¿Donde hago falta? Contacto con la gente en la periferia, donde no llegan los programas culturales.`,
        icon: 'tabler:books'
      },
      {
        title: 'Calidad y caracter social',
        description:
          `Calidad en los contenidos y que agreguen valor a nuestro público`,
        icon: 'tabler:book'
      }
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="¿Qué es una Guerra de Cuentos?"
    title="¿Qué es una Guerra de Cuentos?"
    subtitle="Dos guerreros de la tradición oral interpretan sus mejores cuentos para ganar la preferencia del público"
    items={[
      {
        title: 'Antes',
        description:
          'El arbitro entrevista a los guerreros para conocer detalles importantes de los cuentos que van a competir',
      },
      {
        title: 'Durante',
        description:
          'Los guerreros tienen 10 minutos para desarrollar su historia. A la mitad hacemos una trivia y la persona del público que contesta correctamente introduce un elemento sorpresa en la narración',
      },
      {
        title: 'Al final',
        description:
          'Hacemos una votación para que el público elija el ganador de la contienda. Y el premio del ganador es un dibujo del respetable',
      }
    ]}
    image={{
      src: '~/assets/images/obra-teatro.png',
      alt: 'Obra de teatro',
    }}
  >
  </Content>

  <!-- Content Widget **************** -->

  <!--<Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>-->

  <!-- Content Widget **************** -->

  <!--<Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>-->

  <!-- Steps Widget ****************** -->

  <Steps
    tagline="¿Qué es una Guerra de Cuentos?"
    title="¿Qué es una Guerra de Cuentos?"
    items={[
      {
        title: 'Formato',
        description:
          "Dos guerreros de la tradición oral interpretan sus mejores cuentos para ganar la preferencia del público",
        icon: 'tabler:book',
      },
      {
        title: 'Antes',
        description:
          "El arbitro entrevista a los guerreros para conocer detalles importantes de los cuentos que van a competir",
        icon: 'tabler:users',
      },
      {
        title: 'Durante',
        description:
          "Los guerreros tienen 10 minutos para desarrollar su historia. A la mitad hacemos una trivia y la persona del público que contesta correctamente introduce un elemento sorpresa en la narración",
        icon: 'tabler:question-mark',
      },
      {
        title: 'Al final',
        description:
          "Hacemos una votación para que el público elija el ganador de la contienda. Y el premio del ganador es un dibujo del respetable",
        icon: 'tabler:trophy',
      },
    ]}
    image={{
      src: '~/assets/images/guerra-de-cuentos.jpeg',
      alt: 'Guerra de cuentos',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Valor agregado"
    tagline="Valor agregado"
    items={[
      {
        title: 'Mejores ciudadanos',
        description: "Beneficios de la lectura, empatía, pensamiento crítico, paz, cultura general, empoderamiento",
        icon: 'flat-color-icons:conference-call',
      },
      {
        title: 'ESR',
        description:
          "Registro de actividades para el posicionamiento dentro del CEMEFI hacia dentro y hacia afuera",
        icon: 'flat-color-icons:department',
      },
      {
        title: 'Apoyo fiscal',
        description:
          "Cepa Teatro colabora con loft, espacio de creación A.C. Deducible hasta por el 7% de ISR",
        icon: 'flat-color-icons:money-transfer',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <!--<BlogLatestPosts
    title="Descubre más contenido en nuestro Blog"
    information={`El blog se utiliza para mostrar información y noticias sobre Cepa Teatro.
                        Cada nuevo artículo será un paso importante para conocer más sobre nuestras actividades, eventos y proyectos.
                        Gracias por seguirnos y apoyar el teatro.
                `}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    subtitle="Encuentra respuestas a las preguntas más comunes sobre Cepa Teatro y nuestras actividades."
    tagline="Preguntas Frecuentes"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Qué es Cepa Teatro?',
        description:
          'Cepa Teatro es una compañía fundada en 2014 por egresados de UABC con el propósito de hacer Teatro de Calidad, Itinerante y de Carácter Social.',
      },
      {
        title: '¿Qué es una Guerra de Cuentos?',
        description:
          'Una Guerra de Cuentos es un evento donde dos guerreros de la tradición oral interpretan sus mejores cuentos para ganar la preferencia del público.',
      },
      {
        title: '¿Cómo puedo participar en una Guerra de Cuentos?',
        description:
          'Puedes participar asistiendo a nuestros eventos y votando por tu guerrero favorito. También puedes seguirnos en nuestras redes sociales para más información.',
      },
      {
        title: '¿Dónde se realizan las presentaciones de Cepa Teatro?',
        description:
          'Realizamos presentaciones en diversas localidades, incluyendo instituciones de gobierno, educativas, sector privado y foros independientes.',
      },
      {
        title: '¿Cómo puedo apoyar a Cepa Teatro?',
        description:
          'Puedes apoyar a Cepa Teatro asistiendo a nuestras presentaciones, participando en nuestras actividades y siguiendo nuestras redes sociales.',
      },
      {
        title: '¿Qué beneficios tiene la lectura?',
        description:
          'La lectura fomenta el pensamiento crítico, la empatía, la paz, la cultura general y el empoderamiento.',
      },
    ]}
/>

  <!-- Stats Widget ****************** -->

  <!--<Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  />-->

  <!-- CallToAction Widget *********** -->

  <!--<CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>-->
</Layout>
